:root {
  --pink-base-color: #F7AEF8;
  --lavender-base-color: #B388EB;
  --blue-base-color: #8093F1;
  --light-blue-base-color: #72DDF7;
  --light-gray-base-color: #F4F4ED;

  --blue-lighter-color: #ccd3fa;
  --pink-lighter-color: #fee3fe;
  --pink-darker-color: #cf6ad1;
  --lavender-lighter-color: #dfcbfa;
  --lavender-darker-color: #9a67dd;

  --green-base-color: lightgreen;
  --green-darker-color: rgb(28, 162, 28);

  --red-base-color: lightcoral;
  --red-darker-color: rgb(199, 72, 72);

}

body {
  margin: 0;
  padding: 0;
}