@import './base.css';
@import url('https://fonts.cdnfonts.com/css/super-funky');

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--pink-base-color);
}

h1 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 4px 4px 2px var(--pink-darker-color);
  letter-spacing: 0.1em;
}