@import './base.css';
@import url('https://fonts.cdnfonts.com/css/super-funky');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--pink-base-color);
  min-height: 100vh;
}


h1 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 4px 4px 2px var(--pink-darker-color);
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 4px 4px 2px var(--pink-darker-color);
  letter-spacing: 0.1em;
  padding: 3px;
}

@media(max-width: 600px) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 4px 4px 2px var(--pink-darker-color);
  letter-spacing: 0.1em;
}

h5 {
  font-family: 'ADLaM Display', sans-serif;
  color: var(--light-gray-base-color);
  font-size: 16px;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 2px var(--blue-base-color);

}

h6 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  letter-spacing: 0.1em;
  text-shadow: 4px 4px 2px var(--blue-base-color);
}

p {
  font-family: 'ADLaM Display', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 2px 2px 1px var(--lavender-darker-color);
}


.okButton {
  border: ridge 3px;
  border-radius: 0.25rem;
  background-color: var(--light-gray-base-color);
  border-color: var(--lavender-darker-color);
  color: var(--lavender-darker-color);
  cursor: pointer;
  font-family: 'ADLaM Display', sans-serif;
  padding: 5px;
  margin: 10px;
  box-shadow: 3px 3px 2px 0px var(--lavender-darker-color);
}

.okButton:hover {
  transform: scale(1.1);
  background-color: var(--lavender-lighter-color);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--lavender-base-color);
  color: var(--light-gray-base-color);
  text-shadow: 2px 2px 2px var(--lavender-darker-color);
  border-radius: 0.25rem;
  border: ridge 10px var(--lavender-darker-color);
  padding: 30px;
  width: 70%;
  max-width: 400px;
  white-space: pre-line;
  z-index: 100000;
}

.popupBackground {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #00000040;
}

.answerButton {
  border: ridge 3px var(--pink-darker-color);
  border-radius: 0.25rem;
  background-color: var(--light-gray-base-color);
  cursor: pointer;
  font-family: 'ADLaM Display', sans-serif;
  color: var(--pink-darker-color);
  padding: 5px;
  margin: 10px;
  box-shadow: 3px 3px 2px 0px var(--pink-darker-color);
}

.answerInput {
  flex: 1;
  background: var(--light-gray-base-color);
  padding: 10px;
  border-radius: 0.25rem;
  border: ridge 4px var(--pink-darker-color);
  font-family: 'ADLaM Display';
  color: var(--pink-darker-color);
}

.questionBox {
  min-width: 150px;
  background: var(--light-gray-base-color);
  padding: 10px;
  border-radius: 0.25rem;
  border: ridge 4px var(--pink-darker-color);
  box-shadow: 3px 3px 2px 0px var(--pink-darker-color);
}