@import './base.css';
@import url('https://fonts.cdnfonts.com/css/super-funky');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');

#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--pink-base-color);
  min-height: 100vh;
}


h1 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 4px 4px 2px var(--pink-darker-color);
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 4px 4px 2px var(--pink-darker-color);
  letter-spacing: 0.1em;
}

@media(max-width: 600px) {
  h2 {
    font-size: 1.25rem;
  }
}

h3 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 4px 4px 2px var(--pink-darker-color);
  letter-spacing: 0.1em;
}

h5 {
  font-family: 'ADLaM Display', sans-serif;
  color: var(--light-gray-base-color);
  font-size: 16px;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 2px var(--blue-base-color);

}

h6 {
  font-family: 'Super funky', sans-serif;
  color: var(--light-gray-base-color);
  letter-spacing: 0.1em;
  text-shadow: 4px 4px 2px var(--blue-base-color);
}

p {
  font-family: 'ADLaM Display', sans-serif;
  color: var(--light-gray-base-color);
  text-shadow: 2px 2px 1px var(--blue-base-color);

}